$button-color: rgb(252, 92, 99) !default;;
$button-hover-color:rgb(217, 57, 70) !default;

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'Varela Round', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'M PLUS 1p', sans-serif;
  // font-family: 'Encode Sans Semi Expanded', sans-serif;
  letter-spacing: 0.03rem;
  font-size: 1rem;
  height: 100vh;
}

#root {
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size:1.2rem;
}

input {
  border: 0.05rem solid #c2c2c2;
  width: 100%;
  font-size: 1rem;
  padding: 1em;
  margin: 0.7 0;
  letter-spacing: 0.05rem;
  -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
  filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
}

button {
  width: 100%;
  font-size: 1rem;
  background-color: $button-color;
  border-radius: 0.3rem;
  color: #fff;
  padding: 1em;
  letter-spacing: 0.05rem;
  &:hover {
    cursor: pointer;
    background-color: $button-hover-color;
  }
  -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
  filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
}

.top {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0
}

.main {
  padding: 0;
  // margin-right: 1rem;
  // margin-left: 1rem;
  width: 100%;
  height: 100%;
}

.landing-page {
  display: flex;
  flex: 1;
  align-items: center;
  background: url("../../static/images/Rarotonga-1.jpeg") no-repeat;
  background-size: cover;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.fa-home-icon, .fa-map-marker-alt {
  color: $button-color;
  margin-right: 0.5rem;
}