$button-color: rgb(252, 92, 99) !default;
$button-hover-color:rgb(217, 57, 70) !default;

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 0.03rem;
  font-size: 1rem;
  height: 100vh;
}

#root {
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size:1.2rem;
}

li {
  line-height: 1.3rem;
}

input {
  border: 0.05rem solid #c2c2c2;
  width: 100%;
  font-size: 1rem;
  padding: 1em;
  margin: 0.7 0;
  letter-spacing: 0.05rem;
  -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
  filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
}

button {
  width: 100%;
  font-size: 1rem;
  background-color: $button-color;
  border-radius: 0.3rem;
  color: #fff;
  padding: 1em;
  letter-spacing: 0.05rem;
  &:hover {
    cursor: pointer;
    background-color: $button-hover-color;
  }
  -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
  filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
}

.top {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0
}

.main {
  padding: 0;
  width: 100%;
  height: 100%;
}

.landing-page {
  display: flex;
  flex: 1;
  align-items: center;
  background: url("../../static/images/Rarotonga-1.jpeg") no-repeat;
  background-size: cover;
}

.register, .existing__guest {
  padding: 1.7rem 1.7rem 0.7rem 1.7rem;
  & h1 {
    margin: 1rem 0 2.4rem 0;
  }
  & h2 {
    margin: 0.7rem 0 1.3rem 0;
  }
  & input, & button {
    border-radius: 0.3rem;
    width: 100%;
    margin: 0.7rem 0;
    -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.15));
    filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.15));
  }
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.fa-home-icon, .fa-map-marker-alt {
  color: $button-color;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .register, .existing__guest {
    & input, & button {
      max-width: 66vw;
    }
  }
}

// modal css

.modal{
  display:none;
  position: fixed;
  z-index:0;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: #fff ;
    .fas{
      display: none;
    }

}
 .modal--active{
  display: flex;
  position: fixed;
  z-index:2200;
  left: 50%;
  top:50%;
  height: 50%;
  width:50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: #fff;
  border: 3px solid $button-color;
  border-radius: 5px;
  color: black;
  flex-direction: column;
  -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
  filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
}

.close {
  align-self: flex-end;
  margin: 0.3em;
  padding: 0.3rem 0.5rem;
  color: $button-color;
  cursor: pointer;
  &:hover {
    background: #efefef;
  }
}

span {
  font-size: 2em;
}

.confirmation{
  text-align: center;
  margin: 1em;
}

@media(min-width: 768px){

  .modal--active{
    height: 30%;
    width:30%;
    position: fixed;
  }

}
