
$header-colour: #eee;
$light-colour: white;

.header {
    background-color: $header-colour;
    padding: 0 1rem;
    margin: 0;
    display: block;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & h1 {
      font-size: 1.3rem;
      font-weight: 400;
    }
    & a {
      text-decoration: none;
      color: rgb(252, 92, 99);
    }
  }
