// .property__details {
//     & img {
//         width: 16rem;
//         height: 16rem;
//         object-fit: cover;
//     }
// }
@import "~react-image-carousel/lib/css/main.min.css";

.photo-carousel {
  width: 800px;
  height: 560px;
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

li {
  display: flex;
  align-items: center;
}

.icon {
  max-width: 32px;
  max-height: auto;
  margin-right: 0.5em;
}

.property__description__btn {
  margin-top: 1em;
}

@media (min-width: 768px) {
  .photo-carousel {
    margin: 0;
    width: 50vw;
  }

  ul {
    display: flex;
    justify-content: flex-start;
  }

  li {
    margin-right: 1.5em;
  }

  .property__details{
      grid-area: p;
  }

  .property__booking{
      grid-area: b;
      min-width: 30vw;
  }

  .property {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'p b';
  }
}
