
@import "~react-image-carousel/lib/css/main.min.css";

.property__booking {
  min-width: 30vw;
  margin: 2.5rem 0 1rem 0;
  & input, & button  {
    border-radius: 0.3rem;
    margin: 0 0 0.7rem 0;
    -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.15));
    filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.15));
  }
}

.property__description {
  &-btn {
    width: 100%;
    margin: 1em 0;
    -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.15));
    filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.15));
  }
  &-hidden {
    display: none;
  }
  &-text {
    display: initial;
    overflow: auto;
  }
}

.photo__carousel {
  width: 800px;
  height: 560px;
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  border-radius: 0.3rem;
}

.booking {
  &__list, &__submit {
    display: flex;
    flex-direction: column;
    width: 100%;
    & li {
      line-height: 2rem;
    }
  }
  &__submit {
    input {
      border: 0.05rem solid #c2c2c2;
      -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.15));
      filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.15));
    }
    margin: 1.4rem 0 0 0;
    & ul, li {
      margin: 0;
    }
    width: 100%;
  }
  &__button-inactive {
      background-color: #eee;
      color: #333;
      &:hover {
          background-color: #d6d6d6;
      }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
li {
  display: flex;
  align-items: center;
  margin-right: 1em;
}
.property__icons {
  margin: 0;
  padding: 0;
}

.icon {
  max-width: 2rem;
  max-height: auto;
  margin-right: 0.5em;
}

.property__details, .property__booking, .property__description{
  & h1 {
    margin: 1rem 0;
    line-height: 2.7rem;
  }
  & h2 {
    margin: 2.4rem 0 1rem 0;
  }
}

.property__map {
    position: relative;
    height: 250px;
    margin: 1rem 0 1.7rem 0;
}

@media (min-width: 768px) {
  .photo__carousel {
    margin: 0;
    width: 55vw;
  }
  //ul {
    //display: flex;
    // justify-content: flex-start;
    //justify-content: space-evenly;
  //}
  // li {
  //   margin-right: 1.5em;
  // }

  li {
    display: flex;
    align-items: center;
    margin-right: 1.7em;
  }
  .property__details{
      grid-area: p;
  }

  .property__booking {
      grid-area: b;
      margin: 0;
      & h2 {
        margin: 1.4rem 0 0.7rem 0;
      }
  }

  .property__description{
    grid-area: d;
    &-btn {
      width: 55vw;
    }
  }
  .property__map{
      grid-area: m;
      position: relative;
      height: 250px;
  }

  .property {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        'p b'
        'd d'
        'm m';
  }
}

