.search {
    &__form {
        display: flex;
        flex-direction: column;
        margin: 1.7rem 0;
    }
    &__dates {
        display: flex;
        flex-direction: row;
    }
    &__city {
        width: 100%;
        margin: 0;
        border: 1px solid #aeaeae;
    }
    &__button {
        width: 100%;
        margin: 0.7rem 0 0 0;
    }
    &__date-start {
        width: calc(50% - 0.5rem);
        margin: 0.7rem 0.5rem 0 0;
    }
    &__date-end {
        width: calc(50% - 0.5rem);
        margin: 0.7rem 0 0 0.5rem;
    }
}