
$header-colour: #eee;
$light-colour: white;

.search {
    &__result-title {
        //margin-top: 0.25rem;
        //padding: 0.25rem 0.25rem 0.25rem 0.5rem;
        background-color: $header-colour;
        cursor: pointer;
        &:hover {
            background-color: #ddd;
        }
    }
}

img {
  margin-right: auto;
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.search-result{
  display: flex;
}

.property-details {
  display: flex;
  flex-direction: column;
}

h2, h3, h4, h5, h6{
  margin: 0 0 0 0;
}
