.search {
    &__form {
        display: flex;
        flex-direction: column;
        margin: 0 1.7rem 0 1.7rem;
    }
    &__dates {
        display: flex;
        flex-direction: row;
    }
    &__city {
        margin: 0;
        border-radius: 0.3rem;
    }
    &__button {
        border: 0;
        margin: 0.7rem 0 0 0;
    }
    &__button-inactive {
        border: 0;
        margin: 0.7rem 0 0 0;
        background-color: #eee;
        color: #333;
        &:hover {
            background-color: #d6d6d6;
        }
    }
    &__date-start {
        width: calc(50% - 0.5rem);
        margin: 0.7rem 0.5rem 0 0;
    }
    &__date-end {
        width: calc(50% - 0.5rem);
        margin: 0.7rem 0 0 0.5rem;
    }
}

.react-datepicker__input-container {
  }

.react-datepicker-popper, .react-datepicker {
    -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.1));
    filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.1));
}