.search {
    &__back-button {
        width: 100%;
        margin: 1rem 0;
    }
}

.search__results-feed {
    & h2 {
        font-size: 1.4rem;
    }
    margin: 1.7rem 1.7rem 0 1.7rem;
}

@media (min-width: 768px) {
    .search {
        &__back-button {
            width: 55vw;
        }
    }
}
